body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color:green;
}

#game-table {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    flex: 1;
}

.table-sits-top, .table-sits-bottom {
    display: flex;
    flex-direction: row;
    align-self: center;
    min-height: 220px;
    flex: 1;
}

.table-sits-top > div {
    width: 130px;
}

.table-sits-bottom > div {
    width: 130px;
}

#table-center {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: center;
}
.player-name {
    color: blue;
    font-size: large;
}
.chips {
    color: red;
    font-size: large;
}
.last-move {
    color: red;
    font-size: large;
    min-height: 20px;
}

#pots {
    display: block;
    color: red;
    align-items: center;
    height: 20px;
}

#pots p {
    text-align: center;
    font-size: 25px;
}

.has-folded {
    color: red;
    font-size: large;
}

header, footer {
    background: yellowgreen;
    height: 50vh;
    flex: 1;
}

#winners {
    color: silver;
    font-size: 30px;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    /*position:sticky;*/
    min-height: 10vh;
    bottom: 0;
    width: 100%;
    height: 10%;
    padding: 10px;
}
#community_cards {
    display: flex;
    flex-direction: row;
    min-height: 80px;
}
.community-card {
    padding: 0.1%;
}

.messages {
    display: flex;
    flex-direction: column;
    
}

#raise input {
    width: 100px;
}
#game-messages {
    padding-right: 20px;

    
}

#turn-indicator {
    background-color: orange;
}

