
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> Guessing Game </title>
</head>
<body>


    <div id="player-1">
        <button class="sit"> sit 1</button>
        <div> player:
            <p class="player-name"> </p>   
            card: 
            <p class="card"></p>
            chips:
            <p class="chips"></p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <h2 id="log"> Loading Game... </h2>
    <br>
    <br>
    <br>

    <div id="player-2">
        <button class="sit"> sit 2</button>
        <div>player: 
            <p class="player-name"></p>  
            card: 
            <p class="card"></p>
            chips:
            <p class="chips"></p>
        </div>
    </div>
    <br>
    <h2> you:  {{ player }} </h2>

    <button type="button" value="fold" id="fold"> Fold </button>

    <button type="button" value="call" id="call"> Call </button>
    
    <button type="button" value="check" id="check"> Check </button>
    
    <button type="button" value="start_round" id="start_round"> Start Round</button>
    
    
    <div id="bet">
        <input type="number">
        <button type="submit"> bet </button>
    </div>
    
    <div id="raise">
        <input type="number">
        <button type="submit"> raise</button>
    </div>

    {{ table_name|json_script:"table-name" }}
    {{ player.username|json_script:"user" }}
    {% if player == p1 %}
    {{ 1|json_script:"sit-number" }}
    {% endif %}
    {% if player == p2 %}
    {{ 2|json_script:"sit-number" }}
    {% endif %}

    <script>
        const tableName = JSON.parse(document.getElementById('table-name').textContent);
        /*const sitNumber = JSON.parse(document.getElementById('sit-number').textContent);*/
        const playerName = JSON.parse(document.getElementById('user').textContent);
        const gameSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/'
            + tableName
            +'/'
        );
        
        // recieving messages over websocket
        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            switch (data.type){
                // might be a good idea to put different cases in seperate functions and call them.
                /*
                case 'new_move':
                    document.querySelector('#log').innerText = (data.message);
                    break;
                case 'resign':
                    document.querySelector('#log').innerText = (data.message);
                    break;
                */

                case 'table_state':
                    update_table(data);
                    // Recreate table
                    break;

                default:
                    break;
            }
        };

        function update_table(data){
            document.querySelector('#log').innerText = 'winner:' + (data.message.winner);
            document.querySelector('#player-1 .player-name').innerText = (data.message.players['1']['username']);
            document.querySelector('#player-2 .player-name').innerText = (data.message.players['2']['username']);
            document.querySelector(('#player-'+data.message.sit+' .card')).innerText = (data.message.card);
            document.querySelector('#player-1 .chips').innerText = (data.message.players['1']['chips']);
            document.querySelector('#player-2 .chips').innerText = (data.message.players['2']['chips']);
        };

        gameSocket.onclose = function(e) {
            // const data = JSON.parse(e.data);
            console.error('Chat socket closed unexpectedly');
        };

        // Sending requests over websocket

        const betRequestDom = document.querySelector('#bet button');
        betRequestDom.onclick = function() {
            const amount = document.querySelector('#bet input').value;
            console.log(amount);
            gameSocket.send(JSON.stringify({
                'type':'game_request',
                'message':{
                    'action':'bet',
                    'amount':amount,
                }
            }));
        }

        const raiseRequestDom = document.querySelector('#raise button');
        raiseRequestDom.onclick = function() {
            const amount = document.querySelector('#raise input').value;
            console.log(amount);
            gameSocket.send(JSON.stringify({
                'type':'game_request',
                'message':{
                    'action':'raise',
                    'amount':amount,
                }
            }));
        }

        const foldRequestDom = document.querySelector('#fold');
        foldRequestDom.onclick = function() {
            gameSocket.send(JSON.stringify({
                'type':'game_request',
                'message':{
                    'action':'fold'
                }
            }));
        }

        const callRequestDom = document.querySelector('#call');
        callRequestDom.onclick = function() {
            gameSocket.send(JSON.stringify({
                'type':'game_request',
                'message':{
                    'action':'call'
                }
            }));
        }

        const startRoundRequestDom = document.querySelector('#start_round');
        startRoundRequestDom.onclick = function() {
            gameSocket.send(JSON.stringify({
                'type':'game_request',
                'message':{
                    'action':'start_round'
                }
            }));
        }
        
        const checkRequestDom = document.querySelector('#check');
        checkRequestDom.onclick = function() {
            gameSocket.send(JSON.stringify({
                'type':'game_request',
                'message':{
                    'action':'check'
                }
            }));
        }

        // requests to sit at table or leave table
        var sitButton1 = document.querySelector('#player-1 .sit');
        sitButton1.onclick = function() {
            gameSocket.send(JSON.stringify({
                'type':'sit_request',
                'player':playerName,
                'sit':1
            }));

        };

        var sitButton2 = document.querySelector('#player-2 .sit');
        sitButton2.onclick = function() {
            gameSocket.send(JSON.stringify({
                'type':'sit_request',
                'player':playerName,
                'sit':2
            }));

        };

        function render_table_state(table_state) {

        };

    </script>
    
</body>
</html>