
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> Guessing Game </title>
</head>
<body>
    <div class="table-sits">
    {% for sit in sits %}
    <div style="display: flex;" id="player-{{ sit }}">
        <button class="sit"> sit {{ sit }}</button>
        <div> player:
            <span class="player-name"> </span>   
            card: 
            <span class="card"></span>
            chips:
            <span class="chips"></span>
        </div>
    </div>
    {% endfor %}
    </div>

    <h2 id="log"> Loading Game... </h2>
    <h3 id="pots"></h3>
    <p id="turn"></p>
    <h3 id="community_cards"></h3>
    <h3 id="table_state"></h3>


    <h4> you:  {{ player }} </h2>

    <button type="button" value="fold" id="fold"> Fold </button>
    <button type="button" value="call" id="call"> Call </button>
    <button type="button" value="check" id="check"> Check </button>
    <button type="button" value="start_round" id="start_round"> Start Round</button>
    
    
    <div id="bet">
        <input type="number">
        <button type="submit"> bet </button>
    </div>
    
    <div id="raise">
        <input type="number">
        <button type="submit"> raise</button>
    </div>

    {{ sits|json_script:"sits" }}
    {{ table_name|json_script:"table-name" }}
    {{ player.username|json_script:"user" }}
    {% if player == p1 %}
    {{ 1|json_script:"sit-number" }}
    {% endif %}
    {% if player == p2 %}
    {{ 2|json_script:"sit-number" }}
    {% endif %}

    <script>
        const tableName = JSON.parse(document.getElementById('table-name').textContent);
        /*const sitNumber = JSON.parse(document.getElementById('sit-number').textContent);*/
        const playerName = JSON.parse(document.getElementById('user').textContent);

        const gameSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/'
            + tableName
            +'/'
        );
        
        // recieving messages over websocket
        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            switch (data.type){
                // might be a good idea to put different cases in seperate functions and call them. -Like was done in table_state.
                case 'table_state':
                    update_table(data);
                    // Recreate table
                    break;

                default:
                    break;
            }
        };

        function update_table(data){
            document.querySelector('#community_cards').innerText = 'shared cards:' + (data.message.community_cards);
            document.querySelector('#log').innerText = 'last move:';

            
            for (let sit = 1; sit < 10; sit++) {
                    document.querySelector('#player-' + sit + ' .player-name').innerText = '';
                    document.querySelector('#player-' + sit + ' .chips').innerText = '';
                    document.querySelector('#player-' + sit + ' .card').innerText =  '';
            };
            
            
            Object.keys(data.message.players).forEach(sit => {
                document.querySelector('#player-' + sit + ' .player-name').innerText = (data.message.players[sit]['username']);
                document.querySelector('#player-' + sit + ' .chips').innerText = (data.message.players[sit]['chips']);
            });

            document.querySelector(('#player-'+data.message.sit+' .card')).innerText = (data.message.card);
            document.querySelector('#table_state').innerText = 'stage: ' + (data.message.table_state);
            document.querySelector('#turn').innerText = 'Turn: ' + (data.message.turn);

            let pot_keys = Object.keys(data.message.pots);
            let pots = new Array()
            console.log(pot_keys);
            pot_keys.forEach(key => {
                pots.push(data.message.pots[key]['pot']);
            });
            document.querySelector('#pots').innerText = 'Pots: ' + pots.join(" ");
        };
        
        gameSocket.onclose = function(e) {
            // const data = JSON.parse(e.data);
            console.error('Chat socket closed unexpectedly');
        };

        // Sending requests over websocket

        const betRequestDom = document.querySelector('#bet button');
        betRequestDom.onclick = function() {
            const amount = document.querySelector('#bet input').value;
            console.log(amount);
            gameSocket.send(JSON.stringify({
                'type':'game_request',
                'message':{
                    'action':'bet',
                    'amount':amount,
                }
            }));
        }

        const raiseRequestDom = document.querySelector('#raise button');
        raiseRequestDom.onclick = function() {
            const amount = document.querySelector('#raise input').value;
            console.log(amount);
            gameSocket.send(JSON.stringify({
                'type':'game_request',
                'message':{
                    'action':'raise',
                    'amount':amount,
                }
            }));
        }

        const foldRequestDom = document.querySelector('#fold');
        foldRequestDom.onclick = function() {
            gameSocket.send(JSON.stringify({
                'type':'game_request',
                'message':{
                    'action':'fold'
                }
            }));
        }

        const callRequestDom = document.querySelector('#call');
        callRequestDom.onclick = function() {
            gameSocket.send(JSON.stringify({
                'type':'game_request',
                'message':{
                    'action':'call'
                }
            }));
        }

        const startRoundRequestDom = document.querySelector('#start_round');
        startRoundRequestDom.onclick = function() {
            gameSocket.send(JSON.stringify({
                'type':'start_hand_request',
                'message':{
                    'action':'start_hand'
                }
            }));
        }
        
        const checkRequestDom = document.querySelector('#check');
        checkRequestDom.onclick = function() {
            gameSocket.send(JSON.stringify({
                'type':'game_request',
                'message':{
                    'action':'check'
                }
            }));
        }

        // requests to sit at table or leave table

        for (let sit = 1; sit < 10; sit++) {
            let sitButton = document.querySelector('#player-' + sit + ' .sit');
            sitButton.onclick = function() {
                gameSocket.send(JSON.stringify({
                    'type':'sit_request',
                    'player':playerName,
                    'sit':sit,
                    'amount':110,
            }));

        };
        
        };

    </script>
    
</body>
</html>