{% extends 'base.html' %}

{% block title %}  <title> Holdem </title> {% endblock title %}
{% block style %} 
<link rel="stylesheet" type="text/css" href="/static/css/home.css?{% now 'U' %}"> 
<link rel="icon" href="/static/favicon.ico">
{% endblock style %}

{% block content %}
<h1> Welcome! </h1>
{% if user.is_authenticated %}
<h2> Choose a table </h2>
<br>
<div id="tables">
    {% for table in tables %}

    <a href="/game/{{table.id}}/" class="table-box">
        
        {{table.name}} <br>

        blinds: {{table.small_blind}} / {{table.big_blind}}
    </a><br>
    {% endfor %}
</div>
{% else %}
<h2> log in to view tables </h2>

{% endif %}


{% endblock content %}
