{% extends 'base.html' %}

{% block title %}  <title> Holdem </title> {% endblock title %}
{% block style %} 
<link rel="stylesheet" type="text/css" href="/static/css/home.css?{% now 'U' %}"> 
<link rel="icon" href="/static/favicon.ico">
{% endblock style %}

{% block content %}
<h1> Welcome to Learning Hold'em! </h1>
<p id="about"> This site is dedicated to practicing Texas Hold'em with play chips </p>
{% if user.is_authenticated %}
<h2> Choose a table to play </h2>
<br>
<div id="tables">
    {% for table in tables %}
    
    <a href="/game/{{table.id}}/" class="table-box">
        
        {{table.name}} <br>
        
        blinds: {{table.small_blind}} / {{table.big_blind}}
    </a><br>
    {% endfor %}
</div>
{% else %}
<h2> log in to view tables </h2>

{% endif %}

<footer> 
    <a href=""> Poker Excersices: Comming Soon</a>
</footer>
{% endblock content %}
